:root {
  --primary-color: #530161; /* Color de fondo principal */
  --secondary-color: #e7a2eb; /* Color de texto principal */
  --hover-bg-color: #e7a2eb; /* Color de fondo en hover */
  --hover-text-color: #d835f5; /* Color de texto en hover */

  /* Tipografía global */
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 200;

  color-scheme: light dark;
  color: var(--secondary-color);
  background-color: var(--primary-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  height: 100%;
  margin: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1; /* Este es el espacio que ocupará tu contenido principal */
}

/* Aquí van tus estilos de footer */
.footer {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  padding: 1rem;
  margin: auto;
  background-color: #77038c; /* Usando el color de fondo global */
  color: var(--secondary-color); /* Usando el color de texto global */
}
